USE [master]
GO
/****** Object:  Database [ChangeDB]    Script Date: 2020/1/20 23:27:17 ******/
CREATE DATABASE [ChangeDB]
 CONTAINMENT = NONE
 GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ChangeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ChangeDB]
GO
/****** Object:  Table [dbo].[AdminUser]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUser](
	[AdminUsersId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NOT NULL,
	[role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminUsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appraise]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appraise](
	[AppraiseId] [int] IDENTITY(1,1) NOT NULL,
	[UsersId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[Grade] [int] NOT NULL,
	[RateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AppraiseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[CateName] [nvarchar](50) NOT NULL,
	[ParentId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Delivery]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Delivery](
	[DeliveryId] [int] IDENTITY(1,1) NOT NULL,
	[UsersId] [int] NOT NULL,
	[Consignee] [nvarchar](50) NOT NULL,
	[Complete] [nvarchar](200) NOT NULL,
	[Phone] [nvarchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DeliveryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Favorite]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Favorite](
	[FavoriteId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[UsersId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FavoriteId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[NewsId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[NTypes] [nvarchar](10) NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[PhotoUrl] [nvarchar](200) NOT NULL,
	[PushTime] [datetime] NULL,
	[States] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrdersId] [int] IDENTITY(1,1) NOT NULL,
	[Orderdate] [datetime] NULL,
	[UsersId] [int] NOT NULL,
	[Total] [money] NULL,
	[DeliveryId] [int] NULL,
	[DeliveryDate] [date] NULL,
	[States] [int] NULL,
	[Remark] [nvarchar](500) NULL,
 CONSTRAINT [PK__Orders__630B9956D0149506] PRIMARY KEY CLUSTERED 
(
	[OrdersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdersDetail]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdersDetail](
	[OrdersDetailId] [int] IDENTITY(1,1) NOT NULL,
	[OrdersId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[States] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[OrdersDetailId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[PhotoId] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[PhotoUrl] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[MarketPrice] [money] NOT NULL,
	[Price] [money] NOT NULL,
	[Content] [nvarchar](max) NULL,
	[PostTime] [datetime] NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2020/1/20 23:27:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UsersId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Pwd] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Nick] [nvarchar](50) NULL,
	[DeliveryId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UsersId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminUser] ON 

INSERT [dbo].[AdminUser] ([AdminUsersId], [UserName], [Pwd], [role]) VALUES (1, N'admin', N'e10adc3949ba59abbe56e057f20f883e', 1)
INSERT [dbo].[AdminUser] ([AdminUsersId], [UserName], [Pwd], [role]) VALUES (2, N'test', N'e10adc3949ba59abbe56e057f20f883e', 0)
SET IDENTITY_INSERT [dbo].[AdminUser] OFF
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [CateName], [ParentId]) VALUES (3, N'服装', 3)
INSERT [dbo].[Category] ([CategoryId], [CateName], [ParentId]) VALUES (4, N'数码', 4)
INSERT [dbo].[Category] ([CategoryId], [CateName], [ParentId]) VALUES (5, N'美食', 5)
SET IDENTITY_INSERT [dbo].[Category] OFF
SET IDENTITY_INSERT [dbo].[Delivery] ON 

INSERT [dbo].[Delivery] ([DeliveryId], [UsersId], [Consignee], [Complete], [Phone]) VALUES (1, 1, N'尹先生', N'湖南工程职院崇美楼', N'13810832212')
INSERT [dbo].[Delivery] ([DeliveryId], [UsersId], [Consignee], [Complete], [Phone]) VALUES (2, 1, N'尹先生', N'湖南工程职院求实楼', N'13810832212')
INSERT [dbo].[Delivery] ([DeliveryId], [UsersId], [Consignee], [Complete], [Phone]) VALUES (3, 1, N'尹先生', N'湖南工程职院求真楼', N'13810832212')
SET IDENTITY_INSERT [dbo].[Delivery] OFF
SET IDENTITY_INSERT [dbo].[Favorite] ON 

INSERT [dbo].[Favorite] ([FavoriteId], [ProductId], [UsersId]) VALUES (8, 8, 1)
SET IDENTITY_INSERT [dbo].[Favorite] OFF
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([NewsId], [Title], [NTypes], [Content], [PhotoUrl], [PushTime], [States]) VALUES (1, N'疯狂大甩卖', N'sales', N'空前力度，实惠满满', N'../image/cx1.jpg', CAST(N'2019-08-05T00:00:00.000' AS DateTime), 0)
INSERT [dbo].[News] ([NewsId], [Title], [NTypes], [Content], [PhotoUrl], [PushTime], [States]) VALUES (4, N'卖不了吃亏卖不了上当', N'sales', N'走过的路过的进来瞧一瞧', N'../image/cx2.jpg', CAST(N'2019-08-05T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[News] ([NewsId], [Title], [NTypes], [Content], [PhotoUrl], [PushTime], [States]) VALUES (5, N'好礼送送送', N'gift', N'买就送', N'../image/hd1.jpg', CAST(N'2019-08-05T00:00:00.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[News] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrdersId], [Orderdate], [UsersId], [Total], [DeliveryId], [DeliveryDate], [States], [Remark]) VALUES (1, CAST(N'2019-08-02T17:39:22.323' AS DateTime), 1, 168.0000, 1, CAST(N'2019-08-16' AS Date), 0, NULL)
INSERT [dbo].[Orders] ([OrdersId], [Orderdate], [UsersId], [Total], [DeliveryId], [DeliveryDate], [States], [Remark]) VALUES (2, CAST(N'2019-08-02T17:39:22.323' AS DateTime), 3, 268.0000, 2, CAST(N'2019-08-20' AS Date), 0, NULL)
INSERT [dbo].[Orders] ([OrdersId], [Orderdate], [UsersId], [Total], [DeliveryId], [DeliveryDate], [States], [Remark]) VALUES (3, CAST(N'2019-08-02T17:39:22.323' AS DateTime), 1, 368.0000, 3, CAST(N'2019-08-22' AS Date), 1, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
SET IDENTITY_INSERT [dbo].[OrdersDetail] ON 

INSERT [dbo].[OrdersDetail] ([OrdersDetailId], [OrdersId], [ProductId], [Quantity], [States]) VALUES (1, 19, 5, 1, 0)
INSERT [dbo].[OrdersDetail] ([OrdersDetailId], [OrdersId], [ProductId], [Quantity], [States]) VALUES (3, 21, 9, 2, 0)
INSERT [dbo].[OrdersDetail] ([OrdersDetailId], [OrdersId], [ProductId], [Quantity], [States]) VALUES (4, 22, 9, 1, 0)
SET IDENTITY_INSERT [dbo].[OrdersDetail] OFF
SET IDENTITY_INSERT [dbo].[Photo] ON 

INSERT [dbo].[Photo] ([PhotoId], [ProductId], [PhotoUrl]) VALUES (1, 4, N'f21.jpg')
INSERT [dbo].[Photo] ([PhotoId], [ProductId], [PhotoUrl]) VALUES (2, 5, N'f22.jpg')
INSERT [dbo].[Photo] ([PhotoId], [ProductId], [PhotoUrl]) VALUES (3, 6, N'f23.jpg')
SET IDENTITY_INSERT [dbo].[Photo] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([ProductId], [Title], [CategoryId], [MarketPrice], [Price], [Content], [PostTime], [Stock]) VALUES (4, N'小米1', 16, 999.9900, 989.9900, N'<p>小米1</p>', CAST(N'2019-08-02T08:30:58.000' AS DateTime), 1)
INSERT [dbo].[Product] ([ProductId], [Title], [CategoryId], [MarketPrice], [Price], [Content], [PostTime], [Stock]) VALUES (5, N'小米2', 16, 999.9900, 989.9900, N'小米2', CAST(N'2019-08-02T08:30:58.000' AS DateTime), 1)
INSERT [dbo].[Product] ([ProductId], [Title], [CategoryId], [MarketPrice], [Price], [Content], [PostTime], [Stock]) VALUES (6, N'小米3', 16, 999.9900, 989.9900, N'小米3', CAST(N'2019-08-02T08:30:58.187' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UsersId], [UserName], [Pwd], [Email], [Nick], [DeliveryId]) VALUES (1, N'yinq', N'e10adc3949ba59abbe56e057f20f883e', N'yinq@qq.com', N'小强', 2)
INSERT [dbo].[Users] ([UsersId], [UserName], [Pwd], [Email], [Nick], [DeliveryId]) VALUES (3, N'taotao', N'e10adc3949ba59abbe56e057f20f883e', N'taotao@qq.com', N'涛涛', NULL)
INSERT [dbo].[Users] ([UsersId], [UserName], [Pwd], [Email], [Nick], [DeliveryId]) VALUES (4, N'xiongxiong', N'e10adc3949ba59abbe56e057f20f883e', N'xiongxiong@qq.com', N'雄哥', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__C9F284568CECC44A]    Script Date: 2020/1/20 23:27:18 ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminUser] ADD  DEFAULT ((0)) FOR [role]
GO
ALTER TABLE [dbo].[Appraise] ADD  DEFAULT (getdate()) FOR [RateTime]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__Orderdat__48CFD27E]  DEFAULT (getdate()) FOR [Orderdate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF__Orders__States__4BAC3F29]  DEFAULT ((0)) FOR [States]
GO
ALTER TABLE [dbo].[OrdersDetail] ADD  DEFAULT ((0)) FOR [States]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (getdate()) FOR [PostTime]
GO
ALTER TABLE [dbo].[Appraise]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Appraise]  WITH CHECK ADD FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[Category]  WITH CHECK ADD FOREIGN KEY([ParentId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Delivery]  WITH CHECK ADD  CONSTRAINT [FK_Delivery_UsersId] FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[Delivery] CHECK CONSTRAINT [FK_Delivery_UsersId]
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Favorite]  WITH CHECK ADD FOREIGN KEY([UsersId])
REFERENCES [dbo].[Users] ([UsersId])
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD  CONSTRAINT [FK__OrdersDet__Order__4F7CD00D] FOREIGN KEY([OrdersId])
REFERENCES [dbo].[Orders] ([OrdersId])
GO
ALTER TABLE [dbo].[OrdersDetail] CHECK CONSTRAINT [FK__OrdersDet__Order__4F7CD00D]
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Photo]  WITH CHECK ADD FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([ProductId])
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([DeliveryId])
REFERENCES [dbo].[Delivery] ([DeliveryId])
GO
ALTER TABLE [dbo].[AdminUser]  WITH CHECK ADD CHECK  (([role]=(0) OR [role]=(1)))
GO
ALTER TABLE [dbo].[Appraise]  WITH CHECK ADD CHECK  (([Grade]=(0) OR [Grade]=(1) OR [Grade]=(2)))
GO
ALTER TABLE [dbo].[News]  WITH CHECK ADD CHECK  (([States]=(0) OR [States]=(1)))
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [CK__Orders__States__4CA06362] CHECK  (([States]=(0) OR [States]=(1) OR [States]=(2) OR [States]=(3) OR [States]=(4)))
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [CK__Orders__States__4CA06362]
GO
ALTER TABLE [dbo].[OrdersDetail]  WITH CHECK ADD CHECK  (([States]=(0) OR [States]=(1) OR [States]=(2)))
GO
USE [master]
GO
