@*
 二级首页模板
*@
<!-- 分类菜单 -->
<div class="header-nav-container rows-space-20">
    <div class="container">
        <div class="header-nav-wapper main-menu-wapper">
            <div class="vertical-wapper block-nav-categori">
                <div class="block-title">
                    <span class="icon-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="text">商品分类</span>
                </div>
                <div class="block-content verticalmenu-content">
                    <ul class="tanajil-nav-vertical vertical-menu tanajil-clone-mobile-menu">

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe83a;</i>&nbsp;&nbsp;&nbsp;服装
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">上衣</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">裤子</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">裙子</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">帽子</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">鞋子</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe820;</i>&nbsp;&nbsp;&nbsp;数码
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">手机</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">电脑</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">配件</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">智能硬件</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">数码</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe6d7;</i>&nbsp;&nbsp;&nbsp;家居
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">家具</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">厨具</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">家纺</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">生活用品</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">灯具</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">卫浴</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe6d2;</i>&nbsp;&nbsp;&nbsp;美妆
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">护肤</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">彩妆</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">洗护发</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">身体护理</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">洁面</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe707;</i>&nbsp;&nbsp;&nbsp;美食
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">茶叶</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">零食</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">咖啡</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">水果</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">巧克力</a>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title">
                                <i class="iconfont">&#xe6e1;</i>&nbsp;&nbsp;&nbsp;母婴
                            </a>
                            <span class="toggle-submenu"></span>
                            <ul role="menu" class=" submenu">
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">奶粉</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">辅食</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">玩具</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">喂养</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#" class="tanajil-item-title">洗护</a>
                                </li>
                            </ul>
                        </li>

                    </ul>
                </div>
            </div>
            <!-- 导航 -->
            <div class="header-nav">
                <div class="container-wapper">
                    <ul class="tanajil-clone-mobile-menu tanajil-nav main-menu " id="menu-main-menu">
                        <li class="menu-item  menu-item-has-children active">
                            <a href="#" class="tanajil-menu-item-title" title="首页">首页</a>

                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title" title="促销活动">促销活动</a>

                        </li>
                        <li class="menu-item menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title" title="大宗礼品">大宗礼品</a>

                        </li>
                        <li class="menu-item  menu-item-has-children">
                            <a href="#" class="tanajil-menu-item-title" title="活动咨询">活动咨询</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
